.formulario{
    background-color: #0e0e0e;
    height: 30rem;
    width: 25rem;
    margin-left: 38%;
    margin-top: 12%;
    text-align: center;
    border: white;
    border-radius: 12px;    
    padding: 1%;
}
 
.form_container {
    margin-top: 20%;
}
 
.form_container input {
    margin-bottom: 2%;
}
 
.form_btn{
    background-color: orange;
    color: black;
    width: 50%;
    margin-top: 10%;
    border: orange 0.1rem solid;
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
}
 
.form_btn:hover {
    background-color: orange;
    color: white;
    font-size: large;
    font-weight: bold;
}

